{#
    This component is designed to work with the component defined in twilight.json
    with the key '186b3f4f-25cf-4d3c-abca-cef7eed6f0ab'.
    It expects a `component` object to be passed with a `slides` collection.
#}
{% if component.slides|length %}
<div class="relative hero-slider swiper">
    <div class="swiper-wrapper">
        {% for slide in component.slides %}
            <div class="swiper-slide">
                <div class="relative bg-cover bg-center h-[400px] md:h-[500px] lg:h-[600px]" style="background-image: url('{{ slide['slides.image'] }}');">
                    <div class="absolute inset-0 bg-black bg-opacity-40"></div>
                    <div class="container relative h-full flex flex-col justify-center items-start text-white">
                        {% if slide['slides.title'] %}
                            <h2 class="text-3xl md:text-5xl font-bold max-w-2xl animate-fade-in-down">
                                {{ slide['slides.title'] }}
                            </h2>
                        {% endif %}
                        {% if slide['slides.description'] %}
                            <p class="mt-4 text-lg md:text-xl max-w-xl animate-fade-in-up animation-delay-300">
                                {{ slide['slides.description'] }}
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {# Slider Controls #}
    <div class="swiper-pagination swiper-pagination-white"></div>
    <div class="swiper-button-prev text-white"></div>
    <div class="swiper-button-next text-white"></div>
</div>
{% endif %}