{# NeedsBoxes Featured products using Salla slider #}
<section id="featured-products" class="py-12">
  <div class="container mx-auto px-4">
    <div class="text-center mb-8">
      <h2 class="salla-section-title text-3xl font-extrabold inline-block relative pb-3">المنتجات المميزة</h2>
    </div>
    <salla-products-slider source="featured"></salla-products-slider>
  </div>
</section>
