
// Colors
$main-color: var(--color-primary);
$infinte-color: var(--infinte-color);
$main-text-color: var(--main-text-color);

:root {
  --infinte-color: #c9c9c9;
  --main-text-color: #333333;
  --main-text-color-dark: #111827;

  /* NeedsBoxes palette */
  --color-primary: #0d2c6c;
  --color-primary-d: #07173f;
  --color-primary-l: #274082;
  --color-primary-reverse: #ff9e1b;
  --color-text: #4b5563;
  --bg-gray: rgba(238, 240, 245, 0.42);
  --color-grey: #f8f9fa;
  --color-light-grey: #e5edf8;

  /* font-size */
  --font-sm: 0.8685714286rem;

  /* typography */
  --font-main: 'Tajawal', sans-serif;
  --font-heading: 'Almarai', sans-serif;

  /* plugins */
  --mm-ocd-width: calc(100% - 51px);
}
